*.class
*.bak
*._trace
.DS_Store
bin/

dev-plugins/dbx-emf-model/src/**/*.java
!dev-plugins/dbx-emf-model/src/de/bldev/dbx/lang/ecore/dbx/impl/DbxFactoryImpl.java
dev-plugins/dbx-emf-edit/src/
dev-plugins/dbx-emf-edit/icons/

dev-plugins/hub.sam.dbl.model/src/hub/sam/dbl/*.java
dev-plugins/hub.sam.dbl.model/src/hub/sam/dbl/impl/*.java
!dev-plugins/hub.sam.dbl.model/src/hub/sam/dbl/impl/DblFactoryImpl.java
dev-plugins/hub.sam.dbl.model/src/hub/sam/dbl/util/
dev-plugins/hub.sam.dbl.model/src/hub/sam/dbl/validation/
dev-plugins/hub.sam.dbl.model.edit/src/
dev-plugins/hub.sam.dbl.model.edit/icons/

dev-plugins/**/src-gen/*
dev-plugins/**/resources/gen/*
dev-plugins/DESMO-J/docs/
dev-plugins/hub.sam.dmx/xtend-gen/
**/xtend-gen/

runtime-plugins/**/gen-src/*
runtime-plugins/hub.*
runtime-plugins/**/*.html
runtime-plugins/Examples/temp/*
runtime-plugins/Examples/C++-Libraries/boost/
runtime-plugins/Examples/gen-src-C++/
unversioned/

**/.settings/gradle.prefs
**/.gradle
**/build
**/.build