*.class
*.bak
*._trace
.DS_Store
bin/
runtime-plugins/**/gen-src/*
runtime-plugins/hub.*
runtime-plugins/**/*.html
runtime-plugins/Examples/temp/*
dev-plugins/**/src-gen/*
dev-plugins/**/resources/gen/*
unversioned/
dev-plugins/DESMO-J/docs/
